.index{
    background-color: #f0f0f0;
    overflow-y: auto;
}

.page-header{
    margin: 0 0 12px;
    padding-top: 14px;
    background-color:white;
    height:60px;
}
.page-header .z-label{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#878787;
    margin: 0 0 0 20px;
    font-size: 24px;
    font-weight: lighter;
}
.z-tabpanel{
    padding:0;
    overflow-y: auto;
    border:none;
}
.tabbox{
    margin-left:190px;
}
.homepage{
    margin:0;
    padding: 0;
}
.container-fluid {
    padding:0;
    margin: 0 auto;
}
.z-textbox{
    border-radius:0;
    border:1px solid #eaebed; 
    background: transparent;
}
.listbox{
    border:1px solid #eaebed;
    background: transparent;
}
@media screen and (max-width: 1024px) {
        .tabbox{
            margin-left:50px;
        }
    }